# env variables
.env.*

# python related
__pycache__

# node relate
node_modules

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore all files inside captchas
app/static/captchas/*
# But not the folder itself
!app/static/captchas/.gitkeep

# Ignore all files inside captchas
app/static/audio/*
# But not the folder itself
!app/static/captchas/.gitkeep

